---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Fazendo+s%C3%B3+um+teste+de+integra%C3%A7%C3%A3o+com+a+API+do+Twitter
    headers:
      Authorization:
      - OAuth oauth_consumer_key="O2XqAd2sZ4rX795BNJQIW8N2k", oauth_nonce="ab0a08e7c7602a306231319535e95159",
        oauth_signature="wwLH7jn4D4jqm9z9CBxIIen3GHg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1609385034", oauth_token="274830132-i6nvdvFvsR583rJjROAOFRlZYae5zLKafhpp93UR",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 31 Dec 2020 03:23:52 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 483f4003121138097569baf1971dc414
      X-Response-Time:
      - '196'
      X-Transaction:
      - 00ea8df300178596
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":187,"message":"Status is a duplicate."}]}'
  recorded_at: Thu, 31 Dec 2020 03:23:55 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="O2XqAd2sZ4rX795BNJQIW8N2k", oauth_nonce="19a3fefab68e4c66759431155ebe4beb",
        oauth_signature="XgCqBJJ35InkVQqDaNAPlit%2Fi5Y%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1609385035", oauth_token="274830132-i6nvdvFvsR583rJjROAOFRlZYae5zLKafhpp93UR",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 31 Dec 2020 03:23:52 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-App-Rate-Limit-Limit:
      - '100000'
      X-App-Rate-Limit-Remaining:
      - '99999'
      X-App-Rate-Limit-Reset:
      - '1609471432'
      X-Connection-Hash:
      - 55be3aeaea4a1682b2dc7daba83f5db8
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '899'
      X-Rate-Limit-Reset:
      - '1609385932'
      X-Response-Time:
      - '152'
      X-Transaction:
      - 002cddca0083761b
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Thu Dec 31 03:19:46 +0000 2020","id":1344483356679966721,"id_str":"1344483356679966721","text":"Fazendo
        s\u00f3 um teste de integra\u00e7\u00e3o com a API do Twitter","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/qualitex.com.br\" rel=\"nofollow\"\u003ecaiena-post\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":274830132,"id_str":"274830132","name":"Aralyne","screen_name":"AralyneS","location":"","description":"\u00c0s
        vezes eu fa\u00e7o uns sistemas, \u00e0s vezes eu quebro, mas \u00e0s vezes
        eu conserto","url":"https:\/\/t.co\/riWxoFdDzQ","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/riWxoFdDzQ","expanded_url":"https:\/\/www.linkedin.com\/in\/aralyne-gon%C3%A7alves-353549165\/","display_url":"linkedin.com\/in\/aralyne-gon\u2026","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":211,"friends_count":360,"listed_count":0,"created_at":"Thu
        Mar 31 03:14:04 +0000 2011","favourites_count":1560,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":592,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"642D8B","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1315404360080388096\/5mx7kG5__normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1315404360080388096\/5mx7kG5__normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/274830132\/1607697853","profile_link_color":"FF0000","profile_sidebar_border_color":"65B0DA","profile_sidebar_fill_color":"7AC3EE","profile_text_color":"3D1957","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"pt"}]'
  recorded_at: Thu, 31 Dec 2020 03:23:55 GMT
recorded_with: VCR 3.0.3
