---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Hoje%2C+05%2F01%2F2021%2C+a+temperatura+%C3%A9+de+27%C2%B0C+com+tempo+N%C3%BAvens+Limpas+em+Maceio.
    headers:
      Authorization:
      - OAuth oauth_consumer_key="O2XqAd2sZ4rX795BNJQIW8N2k", oauth_nonce="2dd7c938f8bc4237ef94aaf6fad9d0a7",
        oauth_signature="rO%2BAWa2G1muJ4ZzYIeSvIq%2BLyVU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1609853332", oauth_token="274830132-i6nvdvFvsR583rJjROAOFRlZYae5zLKafhpp93UR",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 05 Jan 2021 13:28:46 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 43ab2b9df16ae9bb9abcdf5933813d76
      X-Response-Time:
      - '181'
      X-Transaction:
      - 00706d8500f67694
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"created_at":"Tue Jan 05 13:28:46 +0000 2021","id":1346448557717528576,"id_str":"1346448557717528576","text":"Hoje,
        05\/01\/2021, a temperatura \u00e9 de 27\u00b0C com tempo N\u00favens Limpas
        em Maceio.","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/qualitex.com.br\" rel=\"nofollow\"\u003ecaiena-post\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":274830132,"id_str":"274830132","name":"Aralyne","screen_name":"AralyneS","location":"","description":"\u00c0s
        vezes eu crio uns sistemas, \u00e0s vezes eu quebro, mas \u00e0s vezes eu
        conserto","url":"https:\/\/t.co\/riWxoFdDzQ","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/riWxoFdDzQ","expanded_url":"https:\/\/www.linkedin.com\/in\/aralyne-gon%C3%A7alves-353549165\/","display_url":"linkedin.com\/in\/aralyne-gon\u2026","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":211,"friends_count":360,"listed_count":0,"created_at":"Thu
        Mar 31 03:14:04 +0000 2011","favourites_count":1561,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":598,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"642D8B","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1315404360080388096\/5mx7kG5__normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1315404360080388096\/5mx7kG5__normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/274830132\/1607697853","profile_link_color":"FF0000","profile_sidebar_border_color":"65B0DA","profile_sidebar_fill_color":"7AC3EE","profile_text_color":"3D1957","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"pt"}'
  recorded_at: Tue, 05 Jan 2021 13:28:53 GMT
recorded_with: VCR 3.0.3
